<div class="login-wrapper">
    <form (ngSubmit)="onSubmit()" [formGroup]="form" class="login-form">
        <h2>Sign In</h2>

        <label>Username</label>
        <input type="text" placeholder="DSAfsheen" formControlName="username" />

        <label>Password</label>
        <input type="text" placeholder="bKash123" formControlName="password" />

        <button type="submit" [disabled]="loading || form.invalid">
            {{ loading ? 'Signing in...' : 'Sign In' }}
        </button>
    </form>

    <div class="separator-text">OR</div>

    <!-- Google button will be rendered into this div by google.accounts.id.renderButton -->
    <div id="googleBtn"></div>

    <div style="margin-top:12px; text-align:center;">
        <small>Testing: Google token will be logged in console. When backend is ready, send id_token to backend.</small>
    </div>
</div>