/* RESET */
html,
body, * {
    margin: 0;
    padding: 0;    
    font-family: 'Zen Kaku Gothic Antique', sans-serif;        
    background-color: #FFFFFA;
}


/* 1️⃣ Horizontal flexbox */
.layout {
    display: flex;
    height: 100vh;
    width: 100%;
    
}

/* 2️⃣ Left vertical stack */
.left {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 3rem 3rem 1rem 3rem;
}

/* HEADER */
.left-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    
}

.login-button {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

/* MAIN CONTENT */
.left-main {
    flex: 1;
    /* grow to fill remaining space */
    padding: 20px;
    
}

/* FOOTER */
.left-footer {
    display: flex;
    justify-content: space-between;
    /* items at edges */
    align-items: center;
    padding: 20px;
      
    
}

.footer-item:nth-child(2) {
    margin: 0 auto;
    padding: 2rem;
    /* center the middle item */
}

/* RIGHT SIDE */
.right {
    height: 100vh;        
}

.right img {    
    height: 100%;
    object-fit: cover;
    /* image fills the area */
    display: block;
}

.return-home {
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: 400;
    
}

.chat-button {
    // margin: -3rem;
}

.login-button {
    
    all: unset;    
    box-sizing: border-box;    
    display: inline-block;
    cursor: pointer;
    padding: 0.3rem 1rem;    
    border: 1px solid black;   
    font-size: 1rem;
        
}

.header-item {
    margin: 1rem;
}

.right-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}

