<div class="layout">
    <!-- LEFT SIDE -->
    <div class="left">
        <!-- HEADER -->
        <div class="left-header">
            <div class="logo header-item">
                <img src="assets/images/auth/auth-logo.png" alt="Logo">
            </div>            
            <div class="right-actions header-item">
                <div>Already a Member?</div>
                <button class="login-button">
                    Log In
                </button>      
            </div>
        </div>

        <!-- MAIN CONTENT -->
        <div class="left-main">
            <router-outlet></router-outlet>
        </div>

        <!-- FOOTER -->
        <div class="left-footer">
            <div class="footer-item">
                <div class="return-home">
                    <img src="assets/images/auth/return-home-arrow.png" alt="">
                    <div>Return Home</div>
                </div>                
            </div>
            <div class="footer-item copyright-text">Copyright 2025 - 2026 Accuris Inc. All rights Reserved</div>
            <div class="footer-item">
                <img class="chat-button" src="assets/images/auth/chat-button.png">
            </div>
        </div>
    </div>

    <!-- RIGHT SIDE -->
    <div class="right">
        <img src="assets/images/auth/auth-banner.png" alt="Banner">
    </div>
</div>