<div class="split-layout">

    <section class="left-panel">

        <header class="auth-header">
            <img class="logo" src="assets/images/auth/auth-logo.png" alt="Logo">

            <div class="header-actions">
                <span>Already a Member?</span>
                <button class="login-button">Log In</button>
            </div>
        </header>

        <main class="auth-content">
            <router-outlet></router-outlet>
        </main>

        <footer class="auth-footer">
            <div class="return-home">
                <img src="assets/images/auth/return-home-arrow.png" alt="Arrow">
                <span>Return Home</span>
            </div>

            <div class="copyright-text">Copyright 2025 - 2026 Accuris Inc. All rights Reserved</div>

            <img class="chat-button" src="assets/images/auth/chat-button.png" alt="Chat">
        </footer>

    </section>

    <aside class="right-panel">
        <img src="assets/images/auth/auth-banner.png" alt="Banner">
    </aside>

</div>