<div class="centered-container title-section">
    <div class="auth-dark-top-text">Account Log In</div>
    <div class="auth-light-top-text">PLEASE LOGIN TO CONTINUE TO YOUR ACCOUNT</div>
</div>

<form class="centered-container simple-signup-form" [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">

    <input class="auth-input-field" type="email" placeholder="Email Address" formControlName="email">

    <div class="password-group">
        <div class="password-input-wrapper">
            <input class="auth-input-field" [type]="showPassword ? 'text' : 'password'" placeholder="Password"
                formControlName="password">
            <img class="password-toggle-icon"
                [src]="showPassword ? 'assets/images/auth/password-shown.png' : 'assets/images/auth/password-hidden.png'"
                alt="Toggle Password" (click)="togglePasswordVisibility()">
        </div>
    </div>

    <div class="auth-options-row">

        <div class="remember-me-container">
            <input class="auth-checkbox" type="checkbox" formControlName="rememberMe">
            <span class="remember-me-text">Remember Me</span>
        </div>

        <a class="forgot-password-link" (click)="onForgotPassword()">Forgot Password?</a>
    </div>

    <button class="auth-login-button" type="submit" [disabled]="loginForm.invalid">
        LOG IN
    </button>

    <p class="separator-text">OR</p>

    <div class="social-buttons-container">
        <button type="button" class="auth-social-login-button">
            <img src="assets/images/auth/google-social.svg" alt="Google">
            Log in with Google
        </button>
        <button type="button" class="auth-social-login-button">
            <img src="assets/images/auth/microsoft-social.svg" alt="Microsoft">
            Log in with Microsoft
        </button>
    </div>

</form>