.otp-field-container {
    display: flex;
    align-items: center;            
}

.contact-otp-container {
    display: flex;
    // gap: .3rem;        
    flex: 1;
    // margin-right: 2rem;
    // margin-left: 2rem;
    // flex-direction: column;
    justify-content: center;
}

.otp-image-container {      
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -2rem;
}

.buttons-container {
    display: flex;
    // background-color: aqua;
    width: 100%;
    justify-content: center;
    align-items: center;
    // gap: .4rem;
}

.button-below {
  width: 50%;  
}

.auth-all-form-parent.two-tier-form {
    margin-left: 3rem;
    margin-right: 3rem;
}