.contact-otp-container {
    display: flex;
    gap: .3rem;        
    flex: 1;
    // margin-right: 2rem;
    // margin-left: 2rem;
    // flex-direction: column;
    justify-content: center;
    
    >* {
            flex: 1;
        }
    
}



.buttons-container {
    display: flex;
    // background-color: aqua;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: .3rem;
    margin-top: 2rem;
}

.button-below {
  width: 50%;  
}

// .auth-all-form-parent.two-tier-form {
    
// }