// --- Color Palette ---

// Primary Brand Color (Teal)
$color-primary-teal: #008080;
// Primary Color with 50% Opacity (Locked/Disabled State)
$color-primary-teal-locked: #00808080;
$color-primary-social-login-button: #E3F3FB;

// Neutral Colors
$color-white: #FFFFFF;
$color-text-light: #616161;
$color-border-neutral: #9E9E9E;
$color-transparent: transparent;