<!-- Navbar -->
<div style="padding: 1rem 3rem;">
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <img class="logo" src="assets/images/auth/auth-logo.png" alt="Logo">
        <div style="display: flex; gap: .5rem">
            <div>Home</div>    
            <div>Service</div>
            <div>Contact</div>
            <div>Help</div>
        </div>
        <div style="display: flex; gap: .5rem">
            <div>Sign In</div>
            <div>Get Started</div>
        </div>
    </div>
    <div style="display: flex; flex-direction: column;">
        <div style="display: flex; border: .2rem solid black;">
            <div style="background-color: red;">
                <h1>Navigating the Global financial landscape</h1>
                <p>Empowering Your Journey to Global Financial Success Through Customized and Personalized Financial Consulting for Every
                Client</p>
                <div style="display: flex;">
                    <div>EMAIL INPUT</div>
                    <button>Get Started</button>
                </div>
            </div>    
            <div style="background-color: rgb(0, 255, 0);">
                GRAPHICS
            </div>        
        </div>
        <div style="display: flex; border: .2rem solid black; justify-content: space-between;">
            <div>Walmart</div>
            <div>FedEx</div>
            <div>Amazon</div>
            <div>Stripe</div>
            <div>AirBNB</div>
            <div>Ripple</div>
        </div>
        <div style="display: flex; border: .2rem solid black;">
            <div style="background-color: red;">
                <div style="display: flex;">
                    <div>OUR EXPERTISE</div>
                    <div>---------</div>
                </div>
                <h1>Transforming Finances With Strategic Wealth Management</h1>
                <p>Guiding You on Your Global Financial Success Journey Through Customized & Personalized Financial Consulting Services.
                Achieve Your Goals with Data-Driven Expertise and Secure Your Financial Future, Successfully Navigating the
                Ever-Changing Finance</p>
                <p>We're Committed to Providing You with Expert Guidance, Proven Strategies & Personalized Approach to Ensure Financial
                Prosperity</p>
                <button>Explore Services</button>
            </div>
            <div style="background-color: rgb(0, 255, 0);">
                GRAPHICS
            </div>
        </div>
        <div style="display: flex; border: .2rem solid black;">
            <div style="background-color: rgb(0, 255, 0);">
                GRAPHICS
            </div>
            <div style="background-color: red;">
                <div style="display: flex;">
                    <div>OUR SERVICES</div>
                    <div>---------</div>
                </div>
                <h1>Our Services Can Help You Grow Your Investments and Wealth</h1>
                <p>Embark on a Journey to Unlock a World of Financial Opportunities, Grow Your Investment with Our Comprehensive and Expert
                Services</p>            
                <div style="display: flex; flex-direction: column;">
                    <div style="display: flex;">
                        <div>Financial Planning</div>
                        <div>Investment Advisory</div>
                    </div>
                    <div style="display: flex;">
                        <div>Estate Planning</div>
                        <div>Wealth Management</div>
                    </div>
                </div>    
                <button>Explore Services</button>
            </div>            
        </div>
        <div style="display: flex; flex-direction: column; border: .2rem solid black;">
            <div style="background-color: red;">
                <h1>What Our Customers Say</h1>
                <p>Discover the Success Stories and Satisfaction of Clients Who Have Benefited from Our Expertise and Personalized
                Financial Guidance</p>
            </div>
            <div style="display: flex; background-color: greenyellow;">
                <div>CUSTOMER CARD 1</div>
                <div>CUSTOMER CARD 2</div>
                <div>CUSTOMER CARD 3</div>
            </div>
        </div>
        <div style="display: flex; flex-direction: column; border: .2rem solid black;">
            <div style="background-color: red;">
                <h1>Our Team Provides Valuable Services at Any Time in Any Situation</h1>                
            </div>
            <div style="display: flex; background-color: greenyellow;">
                <div style="display: flex; flex-direction: column;">
                    <div>GRAPHICS</div>
                    <h2>Expert Guidance</h2>
                    <p>Rely on seasoned professionals for tailored financial advice and strategic planning aligned with your unique goals</p>
                    <p>Read more</p>
                </div>
                <div style="display: flex; flex-direction: column;">
                    <div>GRAPHICS</div>
                    <h2>Expert Guidance</h2>
                    <p>Rely on seasoned professionals for tailored financial advice and strategic planning aligned with your unique
                        goals</p>
                    <p>Read more</p>
                </div>
                <div style="display: flex; flex-direction: column;">
                    <div>GRAPHICS</div>
                    <h2>Expert Guidance</h2>
                    <p>Rely on seasoned professionals for tailored financial advice and strategic planning aligned with your unique
                        goals</p>
                    <p>Read more</p>
                </div>
            </div>
        </div>
    </div>
    <div style="display: flex; background-color: green; border: .2rem solid black;">
        <div>
            <h1>Get Started For Free No Credit Card Required</h1>
            <div style="display: flex;">
                <div>EMAIL INPUT</div>
                <button>Get Started</button>
            </div>
            <p>Want to contact our team and book a call? Try it now</p>
        </div>
        <div style="background-color: red;">GRAPHICS</div>
    </div>
</div>
<div style=" display: flex; flex-direction: column; background-color: green; border: .3 solid black;">
    <div style="display: flex;">
        <div style="display: flex; flex-direction: column;">
            <h2>Prosperix</h2>
            <p>Our expert financial consultants provide solutions to help you achieve financial wealth. Trust us to guide you toward a
            brighter financial future.</p>
            <div style="display: flex;">
                <div>Facebook</div>
                <div>Twitter</div>
                <div>Instagram</div>
            </div>
        </div>
        <div style="display: flex; flex-direction: column;">
            <h2>Our Services</h2>
            <div>Insurance Planning</div>                        
            <div>Estate Planning</div>
            <div>Tax Optimization</div>
            <div>Dept Management</div>            
        </div>
        <div style="display: flex; flex-direction: column;">
            <h2>Explore More</h2>
            <div>About Us</div>
            <div>Blog</div>
            <div>Site Map</div>
            <div>Privacy</div>
        </div>
        <div style="display: flex; flex-direction: column;">
            <h2>Contact Details</h2>
            <div>contact&#64;briofin.com</div>
            <div>+1 (555) 123-4567</div>                        
        </div>
    </div>
    <div>-----------------------------------
        -----------------------------------
        -----------------------------------
        -----------------------------------
    </div>
    <div style="display: flex; justify-content: space-between;">
        <div>DSCODE 2023 © All rights reserved</div>
        <div style="display: flex;">
            <div>Terms & Conditions</div>
            <div>Privacy Policy</div>
        </div>
    </div>
</div>
