

* {    
    font-family: 'Inter', sans-serif;        
}

.nav-button-font-size {    
    font-weight: 500;    
}

.border-radius-1 {
    border-radius: .2rem;
}

.get-started-button {
    all: unset;
    display: inline-block;
    background-color: #008080;
    color: white;
    text-align: center;
    cursor: pointer;
    padding: 1rem 1.5rem;
    border: none;

}

.get-started-button2 {
    all: unset;
    display: inline-block;
    background-color: #20CFC6;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
    padding: 1rem 1.5rem;
    border: none;
    font-family: 'Poppins';
    border-radius: .2rem;
}




h1 {
    font-weight: 500;
    font-size: 5rem;
}

input[type='text'] {
    border: none;
    background-color: white;

}

input:focus {
    outline: none;
    /* Removes the default outline */
    box-shadow: none;
    /* Removes any focus-related box-shadow */
}

p {
    font-weight: 500;
    font-size: 1.2rem;    
    color: #575757;
    margin: 0;
}

.input-shadow-1 {
    box-shadow: -1px 10px 50px -10px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: -1px 10px 50px -10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: -1px 10px 50px -10px rgba(0, 0, 0, 0.3);
}

/* Keep box-shadow on focus */
.input-shadow-1:focus {
    box-shadow: -1px 10px 50px -10px rgba(0, 0, 0, 0.3);
    /* Ensure the box-shadow stays */
    outline: none;
    /* Optional: Remove the default outline when focused */
}

.brand-item {
    flex: 1 1 16%;
    padding: 10px;
    filter: grayscale(100%) contrast(0);
    
}

.body-container-margin-1 {
    margin-bottom: 4rem;
    margin-top: 4rem;
}

.explore-services-button {
    all: unset;
    display: inline-block;
    background-color: #ffffff;
    border: .2rem solid #D5DDDD;
    color: #1E1E1E;
    text-align: center;
    cursor: pointer;
    padding: 1rem 1.5rem; 
    width: 10rem;   
}

.icon-class-1 {
    display: flex;
    gap: 1rem;
    align-items: center;
    width: 20rem;
}.social-media {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    /* Align items with space between */
}

.social-media-item {
    display: flex;
    gap: 0.8rem;
    align-items: center;
}

.social-media-icon {
    width: 2rem;
    /* Optional: Control size of icons */
    height: auto;
}

.social-media-label {
    color: #FFFFFF;
    text-align: center;
}

.gap-1 {
    gap: 1rem;
}