.first-last-name {
    display: flex;
    gap: .3rem;
    width: 100%;        
}

.first-last-name-item {
    width: 100%;    
}

.password-toggle-icon {    
    position: absolute;
    right: 12px;
    height: 15px;
    width: 15px;
    cursor: pointer;    
    &:hover {
        opacity: 0.7;
    }
}

.password-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.strength-indicators {
    display: flex;
    align-items: center;
    width: 100%;
    height: 1rem;
    gap: .2rem;
}

.strength-bar {
    flex: 1;            
}

.strength-grey {
    background-color: #BDBDBD;
    height: .1rem;  
}
.strength-red {
    background-color: #D7353C;
    height: .2rem;
}
.strength-orange {
    background-color: orange;
    height: .2rem;
}
.strength-green {
    background-color: #64E15D;
    height: .2rem;
}

.password-strength-text {    
    margin-top: -.6rem;
    // background-color: #64E15D;
    width: 100%;
    text-align: right;    
    color: #616161;
    font-weight: 400;
    font-size: .7rem;    
}



.agree-policy {    
    display: flex;    
    align-items: center;        
    // background-color: #64E15D;    
    gap: .3rem;        
}

.agree-policy-text {          
    font-size: .7rem;    
    text-decoration: underline;
    text-decoration-color: #9E9E9E;
}

.agree-policy-text-light {
    color: #9E9E9E;
    
    
}

.agree-policy-text-dark {      
    color: #424242;    
}

.next-button {
    margin-top: 1rem;
}

.login-buttons-container {
    display: flex;
    gap: 1rem;
}