.login-container {    
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.rememberme-forgotpassword {
    display: flex;
    justify-content: space-between;
}

.two-button-container {
    display: flex;
    gap: .7rem;

    @media (max-width: 600px) {
        flex-direction: column;
    }
}