<form class="login-container" [formGroup]="form" (ngSubmit)="onSubmit()">    
    <div style="width: 40%; display: flex; flex-direction: column; align-items: center; width: 100%;">
        <div class="title-section">
            <div class="auth-dark-top-text">Forgot Password?</div>
            <div class="auth-light-top-text">Enter your email below to reset the password</div>
        </div>    
        <div style="display: flex; flex-direction: column; gap: .7rem; width: 70%;">
            <input class="auth-input-field" type="text" placeholder="Email Address" formControlName="email">        
            <div class="two-button-container">
                <button class="auth-light-button">Go Back</button>
                <button class="auth-green-button" [ngClass]="{'auth-green-button--locked': form.invalid}">Submit</button>
            </div>
        </div>
        <div class="separator-text">OR</div>
        <div class="social-buttons-container" style="width: 70%;">
            <button type="button" class="auth-social-login-button">
                <img class="social-icon" src="assets/images/auth/google-social.svg" alt="Google">
                Log in with Google
            </button>
            <button type="button" class="auth-social-login-button">
                <img class="social-icon" src="assets/images/auth/microsoft-social.svg" alt="Microsoft">
                Log in with Microsoft
            </button>
        </div>
    </div>  
</form>