/* .field-container {
    display: flex;
    flex: 1;
} */

.send-button {
    width: 3rem;
    background-color: rgba(0, 128, 128, 0.5);
    /* #00808080 in rgba */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px solid #9E9E9E;
}

.send-button.send-button-active {
    background-color: #008080;
    border: 1.5px solid #9E9E9E;
    cursor: pointer;
}