// .field-container {
//     // background-color: red;
//     display: flex;    
//     flex: 1;
// }

.send-button {
    width: 3rem;
    background-color: #00808080;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px solid #9E9E9E;
        
    

    &.send-button-active {        
        background-color: #008080;
        border: 1.5px solid #9E9E9E;
        cursor: pointer;
    }
}

