/* --- NAV CONTAINER --- */
.nav {
    display: flex;
    gap: 3rem;
    justify-content: space-evenly;
    /* Ensure it stays centered */
    padding: 1rem 2rem;
}

/* Responsive adjustments for nav container */
@media (max-width: 600px) {
    .nav {
        gap: 0.5rem;
        padding: 0 10px;
        /* Prevent touching edges */
    }
}

/* --- NAV ITEM --- */
.nav-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    font-weight: 400;
    letter-spacing: 0.13rem;
    gap: 0.7rem;
    color: #616161;
    cursor: default;
}

/* Responsive adjustments for nav item */
@media (max-width: 600px) {
    .nav-item {
        margin: 1.5rem 0;
        flex: 1;
        font-size: 0.6rem;
        letter-spacing: 0.05rem;
    }
}

/* --- ICONS --- */
.nav-item img {
    height: auto;
    max-width: 100%;
}

/* Responsive adjustments for nav icons */
@media (max-width: 600px) {
    .nav-item img {
        width: auto;
    }
}

/* --- NAV TEXT --- */
.nav-text {
    text-align: center;
    white-space: nowrap;
}

/* Responsive adjustments for very small screens */
@media (max-width: 350px) {
    .nav-text {
        white-space: normal;
        line-height: 1.2;
    }
}

/* --- STATES --- */
.left {
    color: #616161;
    font-weight: 400;
}

.active {
    color: #008080;
    font-weight: 900;
}

.completed {
    color: #000000;
    font-weight: 900;
}