.field-container {
    // background-color: red;
    display: flex;    
    width: 100%;
    // position: relative;
}

.auth-input-field.otp-border-remove {
    border-right: 0;
}
// .otp-correct {
//     width: 3rem;
//     // background-color: #00808080;
//     display: flex;
//     align-items: center;
//     justify-content: center;
    
//     // border: 1.5px solid #9E9E9E;
//     // margin-left: -3rem;
//     // margin-right: -3rem;
// }

.otp-correct {
    border-top: 1.5px solid #9E9E9E;
    border-right: 1.5px solid #9E9E9E;
    border-bottom: 1.5px solid #9E9E9E;
    padding-left: 1.5px;
    
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

//  all: unset;

//  /* Reset all browser styles */
//  box-sizing: border-box;
//  /* Keep padding inside width */
//  width: 100%;
//  /* Full width */
//  // padding: 8px 10px;
//  /* Simple spacing */
//  border: 1.5px solid var.$color-border-neutral;
//  /* Simple border */
//  /* Basic rounding */
//  font-size: 14px;
//  padding-left: 1rem;
//  padding-right: 3rem;
//  padding-top: .7rem;
//  padding-bottom: .7rem;