.field-container {
    display: flex;
    width: 100%;
}

.auth-input-field.otp-border-remove {
    border-right: 0;
}

.otp-correct {
    border-top: 1.5px solid #9E9E9E;
    border-right: 1.5px solid #9E9E9E;
    border-bottom: 1.5px solid #9E9E9E;
    padding-left: 1.5px;

    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;        
}