<div class="field-container">
    <input
        class="auth-input-field otp-border-remove"
        [type]="type"
        [placeholder]="placeholder"
        [formControl]="control"
        maxlength="6"
    >

    <div 
        class="otp-correct"
        [class.otp-correct-active]="hasValue"
    >
        <img 
            *ngIf="hasValue" 
            src="assets/images/auth/otp-correct-active.svg" 
            alt="Verified"
        >
        <img 
            *ngIf="!hasValue" 
            src="assets/images/auth/otp-correct-inactive.svg" 
            alt="Not Verified"
        >
    </div>
</div>