/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@400;700;900&display=swap');


html,
body {
    margin: 0;
    padding: 0;
}

@import 'styles/_auth.css';