/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
}
@font-face {
  font-family: 'Zen Kaku Gothic Antique';
  src: url('assets/fonts/ZenKakuGothicAntique-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

