/* ========== SIDEBAR ========== */
.sidebar {
  width: 182px;
  height: 95%;
  background: #ffffff;
  padding: 24px 12px;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin: 18px;
}

.logo-container {
  padding: 0 12px 32px;
}

.logo {
  width: 100px;
  height: auto;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex: 1;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  border-radius: 8px;
  color: #868A95;
  text-decoration: none;
  font-size: 11px;
  font-weight: 600;
  transition: all 0.2s;
}

.nav-item:hover {
  background: #f1f5f9;
  color: #20C0A0;
}

.nav-item.active {
  background: #E6F7F3;
  color: #20C0A0;
}

.logout-section {
  margin-top: auto;

}

.logout {
  color: #868A95;
}

.logout:hover {
  background: #fdecea;
}
