/* ========== SIDEBAR ========== */
.sidebar {
  width: 100%;
  /*height: 95%;*/
  height: calc(100% - 36px);
  background: #ffffff;
  padding: 24px 12px;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin: 18px;
  transition: transform 0.3s ease;
}

.logo-container {
  padding: 0 12px 32px;
}

.logo {
  width: 100px;
  height: auto;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex: 1;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  border-radius: 8px;
  color: #868A95;
  text-decoration: none;
  font-size: 11px;
  font-weight: 600;
  transition: all 0.2s;
}

.nav-item:hover {
  background: #20C0A099;
  color: #363636;
}

.nav-item.active {
  background: #20C0A099;
  color: #363636;
}

.logout-section {
  margin-top: auto;
  margin-bottom: 0px;

}

.logout {
  color: #868A95;
}

.logout:hover {
  background: #20C0A099;
  color: #363636;
}
@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    margin: 0;
    transform: translateX(-100%);
    z-index: 1000;
  }
  .sidebar.open {
    transform: translateX(0);
  }

  .top-bar {
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
  }
}
